---
import Layout from "../layouts/main.astro";
---

<Layout>
    <h1 class="text-8xl text-center font-bold my-5 dark:text-white w-full">
        404
    </h1>
    <h2 class="text-3xl text-center my-5 dark:text-white w-full">
        Still working on it.
    </h2>
    <p class="italic text-center my-5 dark:text-white w-full">
        Thank you for your patience, all in due time.
    </p>
</Layout>
